/ {
    keymap {
        compatible = "zmk,keymap";

        /*
         * Matrix order (3 rows x 5 cols):
         *
         *  [ 0,0 ] [ 0,1 ] [ 0,2 ] [ 0,3 ] [ 0,4 ]
         *  [ 1,0 ] [ 1,1 ] [ 1,2 ] [ 1,3 ] [ 1,4 ]
         *  [ 2,0 ] [ 2,1 ] [ 2,2 ] [ 2,3 ] [ 2,4 ]
         */

        /* Layer 0: Base numpad-ish layer */
        default_layer {
            label = "BASE";
            bindings = <
                &kp N7      &kp N8      &kp N9      &kp N0      &kp DOT
                &kp N4      &kp N5      &kp N6      &kp MINUS   &kp EQUAL
                &kp N1      &kp N2      &kp N3      &kp ENTER   &mo fn_layer
            >;
        };

        /* Layer 1: FN / nav / Bluetooth profiles */
        fn_layer {
            label = "FN";
            bindings = <
                &bt BT_SEL 0    &bt BT_SEL 1    &bt BT_SEL 2    &bt BT_CLR   &trans
                &kp HOME        &kp UP          &kp END         &kp PG_UP    &trans
                &kp LEFT        &kp DOWN        &kp RIGHT       &kp PG_DN    &trans
            >;
        };
    };
};
