name: Build ZMK Firmware

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install Python & West
        run: |
          sudo apt update
          sudo apt install -y python3-pip
          pip install west

      - name: Initialize West workspace
        run: |
          west init -m Firmware/zmk-config-rhinopad-maiwest.yml .

      - name: Update West modules
        run: |
          west update

      - name: Build firmware
        run: |
          cd zmk
          west build -p -b nice_nano_v2 -- -DSHIELD=rhinopad -DZMK_CONFIG=../Firmware/zmk-config-rhinopad-main/config

      - name: Upload firmware artifact
        uses: actions/upload-artifact@v4
        with:
          name: rhinopad-firmware
          path: zmk/build/zephyr/zmk.uf2
