name: Build ZMK Firmware

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install Python & West
        run: |
          sudo apt update
          sudo apt install -y python3-pip
          pip install west

      - name: Initialize West workspace (use local manifest)
        run: |
          west init -l Firmware/zmk-config-rhinopad-main
          west update

      - name: Build firmware
        run: |
          cd Firmware/zmk-config-rhinopad-main
          west build -s zmk/app -b nice_nano -- -DSHIELD=rhinopad

      - name: Upload firmware artifact
        uses: actions/upload-artifact@v4
        with:
          name: firmware
          path: build/zephyr/zmk.uf2
